@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Get Your Weather Here!!</h1>
    <img class="d-block w-100" src="~/Images/sun-sunglasses.jpg" width="250" height="315"
         alt="picture of the sun" />
</div>
